name: .NET build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
        submodules: true
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '[17.0,18.0)'
    - name: Add package source
      run: dotnet nuget add source https://nuget.pkg.github.com/DarkDaskin/index.json -n github -u DarkDaskin -p ${{ secrets.GITHUB_TOKEN }}
    - name: Restore packages
      run: msbuild /t:Restore
    - name: Build
      run: msbuild /p:Configuration=Release /p:SampleGameDownloadPath="${{ runner.temp }}/SampleUnityGames/"
    - name: Test UnityModStudio.Common
      run: dotnet test --no-build -c Release ./UnityModStudio.Common.Tests/
    - name: Test UnityModStudio.Options
      run: dotnet test --no-build -c Release ./UnityModStudio.Options.Tests/
    - name: Test UnityModStudio.ProjectWizard
      run: dotnet test --no-build -c Release ./UnityModStudio.ProjectWizard.Tests/
    - name: Test UnityModStudio.Build
      run: dotnet test --no-build -c Release ./UnityModStudio.Build.Tests/
    - name: Test UnityModStudio.BepInEx.Build
      run: dotnet test --no-build -c Release ./UnityModStudio.BepInEx.Build.Tests/
    - name: Test UnityModStudio.RimWorld.Common
      run: dotnet test --no-build -c Release ./UnityModStudio.RimWorld.Common.Tests/
    - name: Test UnityModStudio.RimWorld.ProjectWizard
      run: dotnet test --no-build -c Release ./UnityModStudio.RimWorld.ProjectWizard.Tests/
    - name: Test UnityModStudio.RimWorld.Build
      run: dotnet test --no-build -c Release ./UnityModStudio.RimWorld.Build.Tests/
    - name: Upload NuGet artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: |
          **/*.nupkg
    - name: Upload VSIX artifacts
      uses: actions/upload-artifact@v4
      with:
        name: vsix
        path: |
          **/*.vsix
